version: '3.9'
services:
  db:
    image: postgres:12
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=test_db
    user: root
    volumes:
      - ./db:/var/www/postgres
  web:
    build:
      context: .
    working_dir: /app
    container_name: web
    environment:
      - DATABASE_URL=postgres://root:password@postgres:5432/test_db?sslmode=disable
    volumes:
      - .:/app
    depends_on:
      - db
volumes:
  db: